body { background-color: darkgrey ;}
h1 { border-style: double;}
h2 { border-style: double;}
h3 { border-style: double;}
#ima1{ width: 88%;}
#ima2{ margin-left: 5%;}
#h1{text-decoration: double;}
h1 {border-color: beige;}
h2 { border-color: beige;}
h3 { border-color: beige;}
#ima1 { border-color: gold; }
#ima2 { border-color: gold;}
